<div>
  <h1>Dojo Weather Forecast</h1>
  <ul>
    <li><a [routerLink]="['/seattle']">Seattle, WA</a></li><li> | </li>
    <li><a [routerLink]="['/sanjose']">San Jose, CA</a></li><li> | </li>
    <li><a [routerLink]="['/burbank']">Burbank, CA</a></li><li> | </li>
    <li><a [routerLink]="['/dallas']">Dallas, TX</a></li><li> | </li>
    <li><a [routerLink]="['/washingtondc']">Washington DC</a></li><li> | </li>
    <li><a [routerLink]="['/chicago']">Chicago, IL</a></li><li> | </li>
  </ul>
</div>
<router-outlet></router-outlet>
